/* main css */

body {
	font-family: Arial;
	font-size: 12px;
	margin: 0px;
	background: #252525;
}

div {
	margin: 0px;
	padding: 0px;
}

div .page {
	margin: 0px auto 0px;
	max-width: 1200px;
}

/*.product {
	width: 50%;
	min-width: 380px;
	border: solid 3px purple;
	background: white;
	margin: 10px auto 10px auto;
	padding: 10px;
	border-radius: 15px;
	text-align: center;
}*/

.spacing {
	margin: 0px 10px 25px 10px; /* top right bot left */	
	border-radius: 10px;
}

li.list-group-item:first-child {
	margin-top: 20px;
	border-radius: 10px;
} 

li.list-group-item:last-child {
	margin-top: 20px;
	border-radius: 10px;
} 